NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-anon-key-here

VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key-here


VITE_MAINTENANCE_MODE=true
VITE_WHITELIST=0e8ad953-bc1e-4871-b592-f05897308d00,914d74d2-fcf9-43dc-b544-b504e063ce69,1808153f-dac0-4db0-8260-27a516430fe9
VITE_ESTIMATED_TIME=PT3H30M10S
VITE_STARTED_MAINTENANCE=1789913100